{
  "extends": ["airbnb", "prettier"],
  "plugins": ["import", "jsx-a11y", "react", "mocha"],
  "env": {
    "browser": true,
    "node": true,
    "mocha": true,
    "jest": true
  },
  "globals": {
    "cy": true,
    "Cypress": true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-underscore-dangle": [
      "error",
      {
        "allow": ["_id", "__REDUX_DEVTOOLS_EXTENSION__"]
      }
    ],
    "jsx-a11y/anchor-is-valid": [
      "error",
      {
        "components": ["Link"],
        "specialLink": ["to", "hrefLeft", "hrefRight"],
        "aspects": ["noHref", "invalidHref", "preferButton"]
      }
    ],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "import/no-named-as-default": 0,
    "react/static-property-placement": ["error", "static public field"],
    "react/state-in-constructor": ["error", "never"]
  },

  "overrides": [
    {
      "files": ["test/**/*.js"],
      "rules": {
        "no-unused-expressions": "off",
        "func-names": "off",
        "no-restricted-syntax": "off",
        "no-await-in-loop": "off"
      }
    }
  ]
}
