.SpaceDescription {
  height: calc(100% - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.SpaceDescriptionDiv {
  justify-content: center;
  align-items: center;
}

.SpaceDescriptionText p {
  font-size: xx-large;
}
